<div class="searchbox">
  <form method="get" id="searchie" action="http://duckduckgo.com/">
    <input type="hidden" name="sites" value="{{ site.blog.search_path }}"/>
    <input type="hidden" name="k8" value="#444444"/>
    <input type="hidden" name="k9" value="#D51920"/>
    <input type="hidden" name="kt" value="h"/>
    <span class="icon-search"></span>
    <input type="search" name="q" maxlength="255" placeholder="Search&hellip;"/>
  <input type="button"/>
  </form>
</div>

<!-- 搜索框图标 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		
<div class="search">
	<i class="material-icons search-icon search-start">search</i>
	<i class="material-icons search-icon search-clear">clear</i>
	<input type="text" class="search-input" placeholder="Searching..." />
	
	<div class="search-results"></div>
</div>

<style type="text/css">
	.search {
		position: relative;
		height: 30px;
		text-align: right;
		line-height: 30px;
	}
	
	.search .search-icon {
		float: right;
		height: 100%;
		margin: 8.8px 10px;
		/* line-height: 30px; */
		cursor: pointer;
		user-select: none;
		position: absolute;
	}
	
	.search .search-input {
		/* float: right;
		width: 30%;
		height: 30px;
		line-height: 30px;
		margin: 0;
		border: 2px solid #ddd;
		border-radius: 10px;
		box-sizing: border-box; */
		
		width: 100%;
		color: var(--text-color-light);
		background: var(--code-bg-color);
		box-shadow: 0 1px 2px var(--shadow-color);
		padding: 9px 38px 9px 38px;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	
	.search .search-clear {
		display: none;
	}
	
	.search .search-results {
		display: block;
		z-index: 1000;
		position: absolute;
		width: 100%;
		max-height: 539px;
		text-align: left;
		border-radius: 3px;
		background: #ccc;
		
	}
	
	.search .search-results .result-item {
		margin: 3px;
		padding: 3px;
		border-radius: 3px;
		cursor: pointer;
		
		color: var(--text-color-light);
		background: var(--code-bg-color);
	}

</style>
		
<!-- 搜索框 -->
<script src="{{ "assets/js/search-box.js" | relative_url }}"></script>