---
layout: page
title: 404
sitemap:
  exclude: 'yes'
published: true
---
<div class="page">

    <h2 class="go-home">
    错误 404
    </h2>
    <h3 class="go-home">
      😮我不知道你怎么来的，但你现在该回去了👉 <a href="https://funzmr.github.io/Remember/">home</a>.
    </h3>

  {% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
{% include page/image-gallery.html folder="/uploads/zmr1569464182809.jpg"%}
  
</div>


<!-- Adding the glitch effect -->
<script>
    document.getElementsByTagName('body')[0].classList.add('glitch');
</script>
