<footer>
	<span>©2018-2020</span><span class="x">
		<svg t="1575114993902" class="icon x" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1254" width="14" height="14"><path d="M769.28 128C672.64 128 588.16 183.04 544 263.68 500.48 183.04 415.36 128 318.08 128c-140.8 0-254.72 114.56-254.72 256 0 67.2 25.6 128 67.84 174.08l391.04 392.96C528.64 956.8 536.32 960 544 960c7.68 0 15.36-3.2 21.76-8.96l391.04-392.96C998.4 512.64 1024 451.2 1024 384 1024 242.56 910.08 128 769.28 128z" p-id="1255" fill="#f44029"></path></svg>
	</span>
	<style type="text/css">
		/*指定一个动画xx*/
		@keyframes xx {								/*此为一个流程，按百分比来定义*/
			0% { transform: scale(0.9); }			/*动画开始之前大小*/
			50% { transform: scale(1.2); }			/*动画开始之中大小*/
			100% { transform: scale(0.9); }			/*动画开始之后大小*/
		}
		.x{
			color: #f00;
			/*让其支持各浏览器*/
			animation: xx 2s infinite;				/*调用动画，动画播放时间，infinte关键字（无限循环播放动画）*/
			-webkit-animation: xx 2s infinite;		/*调用动画，动画播放时间，infinte关键字（无限循环播放动画）*/
			-moz-animation: xx 2s infinite;			/*调用动画，动画播放时间，infinte关键字（无限循环播放动画）*/
		}
	</style>
    <span>{{ site.blog.description }}</span>
    <span>{{ site.author.fullname }}</span>
</footer>
