---
layout: compress
---

<!DOCTYPE html>
    <html lang="zh-cn">
    <haed>
        <!--图标库-->
        <script src="https://kit.fontawesome.com/6a143b8611.js" crossorigin="anonymous"></script>

        {% include main/head.html %}
    </haed>
    <body>
        <div class="wrapper" id="blep">
            {% include main/header.html %}

            {{ content }}

            {% include main/footer.html %}
        </div>

        {% include externals/scripting.html %}
		<!-- 谷歌分析 -->
        {% include externals/google_analytics.html %}
		<!-- 页面点击小心心 -->
        {% include externals/love.html %}
		<!-- 顶部加载条 -->
        {% include externals/Head_loading_bar.html %}
		<!-- 回到顶部 -->
        {% include externals/Back_to_the_top.html %}
		
    </body>
</html>
