---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- 头部加载条 -->
        <script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
        <link href="//cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
        <style>
            .pace .pace-progress {
                background: #1E92FB; /*进度条颜色*/
                height: 3px;
            }
            .pace .pace-progress-inner {
                box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
            }
            .pace .pace-activity {
                border-top-color: #1E92FB;    /*上边框颜色*/
                border-left-color: #1E92FB;    /*左边框颜色*/
            }
        </style>
        
        <!-- 页面点击小红心 -->
        <script type="text/javascript" src="assets/js/love.js"></script>
        
        <!--图标库-->
        <script src="https://kit.fontawesome.com/6a143b8611.js" crossorigin="anonymous"></script>
        
        {% include main/head.html %}
    </head>

    <body>
        <div class="wrapper" id="blep">
            {% include main/header.html %}

            {{ content }}

            {% include main/footer.html %}
        </div>

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
    </body>
</html>
